mkd() {
    mkdir -p "$@"
    cd "$@" || :
}

port_usage() {
    if (($# == 0)); then
        echo "${RED}Illegal number of parameters. port number is required${DEFAULT}"
    else
        lsof -i :"$1"
    fi
}
